@charset "UTF-8";


/* ====================CAPA TELA PEQUENA==================== */

@media screen and (min-width: 375px) and (max-width: 768px) {
    
    body {  
        margin: 0px;
    }
    header {      /* principal */
        min-width: 375px;
        background-color: #0a191e; 
        height: 210px;
    }

    .container {  
        display: flex;  
        align-items: center;      
        justify-content: center; 
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: #aaa8a8;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 60px;
        color: antiquewhite;
        margin: 0px;
    }

    header > h2 {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 5px;
        margin: 0px;
    }
    header > h4 {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }

    main {
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .caixadiv {
        background-color: #eeeeee;
        box-shadow: 1px 1px 5px black;
        border-radius: 5px;
        width: 350px;
        height: 380px;
    }
    .caixadiv > h1 {
        border-bottom: 2px solid #0a191e;
        padding: 5px;
        text-align: center;
    }

    .containerzap,.containergithub,.containerinstagram,.containerlinkedin {
        box-shadow: 0.5px 0.5px 1px black;
        border-radius: 5px;
        margin-top: 10px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 50px;
    }
    .zap,.github,.instagram,.linkedin {
        text-decoration: none;
        margin: 10px;
        display: block;
        border-radius: 50px;
        width: 30px;
    }
    
    a {
        text-decoration: none;
    }
}

/* ====================CAPA TELA MEDIA==================== */

@media screen and (min-width: 768px) and (max-width: 992px){
    
    body {
        margin: 0px;
    }
    header {      
        min-width: 375px;
        background-color: #0a191e; 
        height: 210px;
    }
    
    .container {   /* principal */
        display: flex; 
        align-items: center;      
        justify-content: center; 
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: #aaa8a8;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 80px;
        color: antiquewhite;
        margin: 0px;
    }
    
    header > h2 {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }
    
    main {
        max-width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .caixadiv {
        position: relative;
        right: 30px;
        background-color: #eeeeee;
        box-shadow: 1px 1px 2px black;
        border-radius: 10px;
        height: 250px;
        width: 667px;
    }

    .caixadiv > h1 {
        border-bottom: 2px solid #0a191e;
        padding: 5px;
        text-align: center;
    }

    .containerzap,.containergithub,.containerinstagram,.containerlinkedin {
        box-shadow: 1px 1px 2px black;
        border-radius: 5px;
        margin: 10px;
        width: 250px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 60px;
    }
    .zap,.github,.instagram,.linkedin {  /* imagens */
        margin: 10px;
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }

    a {
        text-decoration: none;
    }  
}

/* ====================CAPA TELA GRANDE==================== */

@media screen and (min-width: 992px) {
    
    body {
        margin: 0px;
    }
    header {     
        min-width: 375px;
        background-color: #0a191e; 
        height: 210px;
    }

    .container {   /* principal */
        display: flex; 
        align-items: center;      
        justify-content: center;
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: #aaa8a8;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 80px;
        color: antiquewhite;
        margin: 0px;
    }

    header > h2 {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }

    main {
        margin: auto;
        max-width: 1000px;
    }

    .caixadiv {
        background-color: #eeeeee;
        box-shadow: 1px 1px 2px black;
        border-radius: 10px;
        height: 360px;
    }

    .caixadiv > h1 {
        border-bottom: 2px solid #0a191e;
        text-align: center;
        padding: 5px;
    }

    .containerzap,.containergithub,.containerinstagram,.containerlinkedin {
        box-shadow: 0.3px 0.3px 1px black;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
        margin: 10px;
        margin-right: 100px;
        width: 250px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 180px;
    }

    .zap,.github,.instagram,.linkedin {  /* imagens */
        margin: 10px;
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }

    a:hover {
        text-decoration: underline ;
    }
}
