@charset "UTF-8";

/* ====================CAPA TELA GRANDE==================== */

@media screen and (min-width: 992px) {
    
    body {
        background-color: #83725e8c;
        margin: 0px;
    }
    header {      /* principal */
        min-width: 375px;
        background-image: linear-gradient(to top, #79f8e9e7, #236A62); 
        box-shadow: 0px 2px 5px black;
        border-bottom-left-radius:  30px;
        border-bottom-right-radius: 30px;
        height: 210px;
    }

    .container {  /* header */
        display: flex;  /* anotar */
        align-items: center;      /* anotar */
        justify-content: center; /* anotar */
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: aliceblue;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 80px;
        color: white;
        margin: 0px;
    }

    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }

    nav {
        background-image: linear-gradient(to left, #79f8e986, #236a6288); 
        box-shadow: 0px 3px 7px black;
        border-radius: 10px;
        height: 40px;
        margin: auto;
        margin-top: 13px;
    }
   
    .link {
        margin: auto;
        display: inline-block;
        background-color: #c9cece;
        box-shadow: 0px 3px 7px black;
        font-size: 20px;
        margin-top: 4px;
        margin-right: 10px;
        height: 30px;
        width: 100px;
        border-radius: 10px;
        text-align: center;
        border-style: none;
        position: relative;
        left: 480px;
    }

    .link:hover {
        background-color: #a2a8a8;
        transition-duration: .8s;
    }
    .link:active {
        background-color: #236A62;
    }

    main {
        margin: auto;
        margin-top: 40px;
        max-width: 1000px;
    }

    section {
        background-image: linear-gradient(to top, #236a6285, #79f8e983);
        border-radius: 20px;
        position: relative;
        top: 20px;
        height: 360px;
    }

    p.apresent {
        font-family: Arial, Helvetica, sans-serif;
        background-color: aliceblue;
        position: relative;
        text-align: center;
        font-size: 40px;
        border-radius: 20px;
        margin: 5px;
        top: 20px;
        padding: 10px;
        height: 300px;
    }
}

/* ====================CAPA TELA MEDIA==================== */

@media screen and (min-width: 768px) and (max-width: 992px){
    
    body {
        background-color: #83725e8c;
        margin: 0px;
    }
    header {      /* principal */
        min-width: 375px;
        background-image: linear-gradient(to top, #79f8e9e7, #236A62); 
        box-shadow: 0px 2px 5px black;
        border-bottom-left-radius:  30px;
        border-bottom-right-radius: 30px;
        height: 210px;
    }
    
    .container {  /* header */
        display: flex;  /* anotar */
        align-items: center;      /* anotar */
        justify-content: center; /* anotar */
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: aliceblue;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 80px;
        color: white;
        margin: 0px;
    }
    
    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }
    
    nav {
        background-image: linear-gradient(to left, #79f8e986, #236a6288); 
        box-shadow: 0px 3px 7px black;
        border-radius: 10px;
        height: 40px;
        margin: auto;
        margin-top: 13px;
    }
    .link {
        margin: auto;
        display: inline-block;
        background-color: #c9cece;
        box-shadow: 0px 3px 7px black;
        font-size: 20px;
        margin-top: 4px;
        margin-right: 10px;
        height: 30px;
        width: 100px;
        border-radius: 10px;
        text-align: center;
        border-style: none;
        position: relative;
        left: 230px;
    }
    
    .link:hover {
        background-color: #a2a8a8;
        transition-duration: .8s;
    }
    
    main {
        margin: auto;
        margin-top: 40px;
        max-width: 600px;
    }
    
    section {
        background-image: linear-gradient(to top, #236a6285, #79f8e983);
        border-radius: 20px;
        position: relative;
        top: 20px;
        height: 300px;
        width: 667px;
    }
    
    p.apresent {
        font-family: Arial, Helvetica, sans-serif;
        background-color: aliceblue;
        position: relative;
        text-align: center;
        font-size: 30px;
        border-radius: 20px;
        margin: 5px;
        top: 20px;
        padding: 10px; 
    }
}


/* ====================CAPA TELA PEQUENA==================== */

@media screen and (min-width: 375px) and (max-width: 768px) {
    
    body {
        background-color: #83725e8c;
        margin: 0px;
    }
    header {      /* principal */
        min-width: 375px;
        background-image: linear-gradient(to top, #79f8e9e7, #236A62); 
        box-shadow: 0px 2px 5px black;
        border-bottom-left-radius:  30px;
        border-bottom-right-radius: 30px;
        height: 210px;
    }

    .container {  /* header */
        display: flex;  /* anotar */
        align-items: center;      /* anotar */
        justify-content: center; /* anotar */
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: aliceblue;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 60px;
        color: white;
        margin: 0px;
    }

    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 5px;
        margin: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }

    nav {
        background-image: linear-gradient(to left, #79f8e986, #236a6288); 
        box-shadow: 0px 3px 7px black;
        border-radius: 10px;
        height: 40px;
        margin: auto;
        margin-top: 25px;
    }
    .link {
        margin: auto;
        position: relative;
        display: inline-block;
        background-color: #c9cece;
        box-shadow: 0px 3px 7px black;
        font-size: 20px;
        margin-top: 4px;
        margin-right: 10px;
        height: 30px;
        width: 100px;
        left: 25px;
        border-radius: 10px;
        text-align: center;
        border-style: none;
    }
    
    .link:hover {
        background-color: #a2a8a8;
        transition-duration: .8s;
    }

    main {
        margin: auto;
        margin-top: 40px;
        max-width: 375px; 
    }

    section {
        background-image: linear-gradient(to top, #236a6285, #79f8e983);
        border-radius: 20px;
        position: relative;
        top: 20px;
        height: 375px;
    }

    p.apresent {
        font-family: Arial, Helvetica, sans-serif;
        background-color: aliceblue;
        position: relative;
        text-align: center;
        font-size: 25px;
        border-radius: 20px;
        margin: 5px;
        top: 20px;
        padding: 10px;
    }
}    
    