@charset "UTF-8";


/* ====================CAPA TELA PEQUENA==================== */

@media screen and (min-width: 375px) and (max-width: 768px) {
    
    body {
        margin: 0px;
    }
    header {      
        min-width: 375px;
        background-image: linear-gradient(to top, #0a191e,#0a191e); 
        height: 210px;
    }

    .container {   /* principal */
        display: flex;  
        align-items: center;      
        justify-content: center; 
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: #aaa8a8;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 60px;
        color: antiquewhite;
        margin: 0px;
    }

    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: antiquewhite;
        padding: 5px;
        margin: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: antiquewhite;
        margin: 0px;
        padding: 5px;
    }

    main {
        margin: auto;
        margin-top: 20px;
        max-width: 375px; 
    }

    section {
        background-color: #eeeeee;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 5px;
        position: relative;
    }

    .tituloprojeto {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        text-shadow: 1px 1px 2px black;
        text-align: center;
        font-size: 20px;
        border-bottom: 2px solid #0a191e;
        padding: 8px;
        margin: 5px;
        top: 20px;
    }

    .containerlogin,.containermat,.containerimc,.containercordel,.containerandroid,.containersociais,.containerrick,.containerarte-bela,.containersaude,.containerBD,.containertabela,.container-checkout,.containercripto,.containerpokedex,.containerjogosorte,.containerpizzariadopai {
        font-family: 'Impact';
        border-radius: 20px;
        position: relative;
        top: 35px;
        height: 500px;
        display: flex; 
    }
    .imglogin,.imgmat,.imgimc,.imgcordel,.imgandroid,.imgsociais,.imgrick,.imgarte-bela,.imgsaude,.imgBD,.imgtabela,.img-checkout,.imgcripto,.imgpokedex,.imgjogosorte,.imgpizzariadopai {
        margin: 10px;
        border-radius: 10px;
        border-style: none;
        width: 150px;
        height: 250px;
        position: relative;
        top: 40px;
    }
    p.textologin,.textomat,.textoimc,.textocordel,.textoandroid,.textosociais,.textorick,.textoarte-bela,.textosaude,.textoBD,.textotabela,.texto-checkout,.textocripto,.textopokedex,.textojogosorte,.textopizzariadopai {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 10px;
        text-align: start;
    }

    /* ------inicio nav------ */
    .botao {
        margin: 5px;
        padding: 5px;
        background-color: #0a191e;
        border-radius: 6px;
        border: .3px solid #00A97F;
        box-shadow: 1px 1px 5px black;
        transition: .5s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        font-weight: 200;
        font-size: 15px;
        font-family: 'Roboto', 'Segoe UI', sans-serif;
        text-transform: uppercase;
        color: #00A97F;
        width: 140px;
    }
    
    .botao::after, .botao::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .8s ease-out;
        background-color: #00A97F;
    }
    
    .botao::before {
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    }
    
    .botao:hover::before {
        transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
    }
    
    .botao:hover::after {
        transform: skew(45deg) translate(-50%, -50%);
    }
    
    .botao:hover {
        color: #0a191e;
    }
    
    .botao:active {
        background-color: #0a191e;
        filter: brightness(.7);
        transform: scale(.98);
    }
    /* ------fim nav------ */
} 

/* ====================CAPA TELA MEDIA==================== */

@media screen and (min-width: 768px) and (max-width: 992px){
    
    body {
        margin: 0px;
    }
    header {      
        min-width: 375px;
        background-image: linear-gradient(to top, #0a191e,#0a191e); 
        height: 210px;
    }
    
    .container {  /* principal */
        display: flex;  
        align-items: center;     
        justify-content: center; 
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: #aaa8a8;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 80px;
        color: antiquewhite;
        margin: 0px;
    }
    
    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        color: antiquewhite;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: antiquewhite;
        margin: 0px;
        padding: 5px;
    }
    
    main {
        margin: auto;
        position: relative;
        top: 10px;
        width: 600px;
    }
    
    section {
        background-color: #eeeeee;
        box-shadow: 1px 1px 3px black;
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;
        right: 30px;
        height: 380px;
        width: 667px;
    }
    
    .tituloprojeto {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        text-shadow: 1px 1px 2px black;
        text-align: center;
        font-size: 30px;
        border-radius: 5px;
        border-bottom: 2px solid #0a191e;
        padding: 10px;
        margin: 5px;
        top: 20px;
    }

    .containerlogin,.containermat,.containerimc,.containercordel,.containerandroid,.containersociais,.containerrick,.containerarte-bela,.containersaude,.containerBD,.containertabela,.container-checkout,.containercripto,.containerpokedex,.containerjogosorte,.containerpizzariadopai {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: 35px;
        height: 270px;
        display: flex; 
    }
    .imglogin,.imgmat,.imgimc,.imgcordel,.imgandroid,.imgsociais,.imgrick,.imgarte-bela,.imgsaude,.imgBD,.imgtabela,.img-checkout,.imgcripto,.imgpokedex,.imgjogosorte,.imgpizzariadopai {
        margin: 10px;
        border-radius: 10px;
    }
    p.textologin,.textomat,.textoimc,.textocordel,.textoandroid,.textosociais,.textorick,.textoarte-bela,.textosaude,.textoBD,.textotabela,.texto-checkout,.textocripto,.textopokedex,.textojogosorte,.textopizzariadopai {
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        box-shadow: 1px 1px 2px #0a191e;
        border-radius: 10px;
        margin-left: 20px;
        padding: 10px;
        width: 400px;
        height: 195px;
        position: relative;
        top: 0px;
    }

    /* ------inicio nav------ */
    .botao {
        margin: 10px;
        padding: 5px;
        background-color: #0a191e;
        border-radius: 6px;
        border: .3px solid #00A97F;
        transition: .5s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        font-weight: 200;
        font-size: 15px;
        font-family: 'Roboto', 'Segoe UI', sans-serif;
        text-transform: uppercase;
        color: #00A97F;
        width: 150px;
    }
    
    .botao::after, .botao::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .8s ease-out;
        background-color: #00A97F;
    }
    
    .botao::before {
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    }
    
    .botao:hover::before {
        transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
    }
    
    .botao:hover::after {
        transform: skew(45deg) translate(-50%, -50%);
    }
    
    .botao:hover {
        color: #0a191e;
    }
    
    .botao:active {
        background-color: #0a191e;
        filter: brightness(.7);
        transform: scale(.98);
    }
   /* ------fim nav------ */
}

/* ====================CAPA TELA GRANDE==================== */

@media screen and (min-width: 992px) {
    
    body {
        margin: 0px;
    }
    header {      
        min-width: 375px;
        background-color: #0a191e; 
        height: 250px;
    }

    .container {  /* principal */
        display: flex;  
        align-items: center;      
        justify-content: center; 
    }
    
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 140px;
        background-color: #aaa8a8;
        border-radius: 100px;
         
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 80px;
        color: antiquewhite;
        margin: 0px;
    }

    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        color: antiquewhite;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: antiquewhite;
        margin: 0px;
        padding: 5px;
    }

    main {
        margin: auto;
        margin-top: 40px;
        max-width: 1000px;
    }

    section {
        background-color: #eeeeee;
        box-shadow: 1px 1px 3px black;
        border-radius: 10px;
        margin-bottom: 40px;
        height: 550px;
    }

    .tituloprojeto {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        border-bottom: 2px solid #0a191e;
        text-shadow: 1px 1px 2px black;
        text-align: center;
        font-size: 30px;
        margin: 5px;
        padding: 10px;
        top: 20px;
    }

    .containerlogin,.containermat,.containerimc,.containercordel,.containerandroid,.containersociais,.containerrick,.containerarte-bela,.containersaude,.containerBD,.containertabela,.container-checkout,.containercripto,.containerpokedex,.containerjogosorte,.containerpizzariadopai  {
        position: relative;
        top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imglogin,.imgmat,.imgimc,.imgcordel,.imgandroid,.imgsociais,.imgrick,.imgarte-bela,.imgsaude,.imgBD,.imgtabela,.img-checkout,.imgcripto,.imgpokedex,.imgjogosorte,.imgpizzariadopai  {
        margin: 10px;
        border-radius: 10px;
        width: 250px;
        height: 400px;
    }
    p.textologin,.textomat,.textoimc,.textocordel,.textoandroid,.textosociais,.textorick,.textoarte-bela,.textosaude,.textoBD,.textotabela,.texto-checkout,.textocripto,.textopokedex,.textojogosorte,.textopizzariadopai {
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        font-size: 20px;
        box-shadow: 1px 1px 2px #0a191e;
        border-radius: 10px;
        margin-left: 10px;
        padding: 10px;
        width: 500px;
    }
    
    /* ------inicio nav------ */
    .botao {
        margin: 10px;
        padding: 10px;
        background-color: #0a191e;
        border-radius: 6px;
        border: .3px solid #00A97F;
        transition: .5s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        font-weight: 300;
        font-size: 15px;
        font-family: 'Roboto', 'Segoe UI', sans-serif;
        text-transform: uppercase;
        color: #00A97F;
        width: 150px;
    }
    
    .botao::after, .botao::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .8s ease-out;
        background-color: #00A97F;
    }
    
    .botao::before {
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    }
    
    .botao:hover::before {
        transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
    }
    
    .botao:hover::after {
        transform: skew(45deg) translate(-50%, -50%);
    }
    
    .botao:hover {
        color: #0a191e;
    }
    
    .botao:active {
        background-color: #0a191e;
        filter: brightness(.7);
        transform: scale(.98);
    }
   /* ------fim nav------ */
}



   