@charset "UTF-8";

/* ====================CAPA TELA GRANDE==================== */

@media screen and (min-width: 992px) {
    
    body {
        background-color: whitesmoke;
        margin: 0px;
    }
    header {      /* principal */
        min-width: 375px;
        background-image: linear-gradient(to top, #0a191e,#0a191e); 
        
        height: 250px;
    }

    .container {  
        display: flex;  
        align-items: center;      
        justify-content: center; 
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 150px;
        background-color: aliceblue;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 2px 2px #768d36;
        text-decoration-line: underline;
        font-size: 80px;
        color: whitesmoke;
        margin: 0px;
    }

    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        color: whitesmoke;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: whitesmoke;
        margin: 0px;
        padding: 5px;
    }
/* ------------------------------------------------------------ */
    .botao {
        padding: 0.8em 1.75em;
        background-color: #0a191e;
        border-radius: 6px;
        border: .3px solid #00A97F;
        transition: .5s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        font-weight: 300;
        font-size: 17px;
        font-family: 'Roboto', 'Segoe UI', sans-serif;
        text-transform: uppercase;
        color: #00A97F;
    }
       
    .botao::after, .botao::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .8s ease-out;
        background-color: #00A97F;
    }
       
    .botao::before {
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    }
       
    .botao:hover::before {
        transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
    }
       
    .botao:hover::after {
        transform: skew(45deg) translate(-50%, -50%);
    }
       
    .botao:hover {
        color: #0a191e;
    }
       
    .botao:active {
        background-color: #0a191e;
        filter: brightness(.7);
        transform: scale(.98);
    }
/* ------------------------------------------------------------------- */
    nav {
        margin: 10px;
        margin-top: 13px;
    }
   
    section {
        border-radius: 20px;
        position: relative;
        top: 20px;
        height: 360px;
    }

    p.apresent {
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        position: relative;
        top: 60px;
        width: 700px;
        color: #1f1e1e;
        text-align: center;
        font-size: 30px;
    }

    footer {
        background-color: #0a191e;
        color: white;
        text-align: center;
        padding: 10px;
        margin-bottom: 0px;
    }

    .footerlink {
        color: white;
        font-weight: bolder;
    }
}

/* ====================CAPA TELA MEDIA==================== */

@media screen and (min-width: 768px) and (max-width: 992px){
    
    body {
        background-color: #83725e8c;
        margin: 0px;
    }
    header {      /* principal */
        min-width: 375px;
        background-image: linear-gradient(to top, #79f8e9e7, #236A62); 
        box-shadow: 0px 2px 5px black;
        border-bottom-left-radius:  30px;
        border-bottom-right-radius: 30px;
        height: 210px;
    }
    
    .container {  /* header */
        display: flex;  /* anotar */
        align-items: center;      /* anotar */
        justify-content: center; /* anotar */
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: aliceblue;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 80px;
        color: white;
        margin: 0px;
    }
    
    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }
    
    nav {
        background-image: linear-gradient(to left, #79f8e986, #236a6288); 
        box-shadow: 0px 3px 7px black;
        border-radius: 10px;
        height: 40px;
        margin: auto;
        margin-top: 13px;
    }
    .link {
        margin: auto;
        display: inline-block;
        background-color: #c9cece;
        box-shadow: 0px 3px 7px black;
        font-size: 20px;
        margin-top: 4px;
        margin-right: 10px;
        height: 30px;
        width: 100px;
        border-radius: 10px;
        text-align: center;
        border-style: none;
        position: relative;
        left: 230px;
    }
    
    .link:hover {
        background-color: #a2a8a8;
        transition-duration: .8s;
    }
    
    main {
        margin: auto;
        margin-top: 40px;
        max-width: 600px;
    }
    
    section {
        background-image: linear-gradient(to top, #236a6285, #79f8e983);
        border-radius: 20px;
        position: relative;
        top: 20px;
        height: 300px;
        width: 667px;
    }
    
    p.apresent {
        font-family: Arial, Helvetica, sans-serif;
        background-color: aliceblue;
        position: relative;
        text-align: center;
        font-size: 30px;
        border-radius: 20px;
        margin: 5px;
        top: 20px;
        padding: 10px; 
    }
}


/* ====================CAPA TELA PEQUENA==================== */

@media screen and (min-width: 375px) and (max-width: 768px) {
    
    body {
        background-color: whitesmoke;
        margin: 0px;
        
    }
    header {      /* principal */
        min-width: 375px;
        background-image: linear-gradient(to top, #0a191e,#0a191e); 
        height: 210px;
    }

    .container {  /* header */
        display: flex;  /* anotar */
        align-items: center;      /* anotar */
        justify-content: center; /* anotar */
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: aliceblue;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 60px;
        color: whitesmoke;
        margin: 0px;
    }

    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: whitesmoke;
        padding: 5px;
        margin: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: whitesmoke;
        margin: 0px;
        padding: 5px;
    }

    /* --------------------------------------------------------------- */
    .botao {
        
        padding: 10px;
        background-color: #0a191e;
        border-radius: 6px;
        border: .3px solid #00A97F;
        transition: .5s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        font-weight: 300;
        font-size: 17px;
        font-family: 'Roboto', 'Segoe UI', sans-serif;
        text-transform: uppercase;
        color: #00A97F;
        width: 110px;
        

    }
    
    .botao::after, .botao::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .8s ease-out;
        background-color: #00A97F;
    }
    
    .botao::before {
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    }
    
    .botao:hover::before {
        transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
    }
    
    .botao:hover::after {
        transform: skew(45deg) translate(-50%, -50%);
    }
    
    .botao:hover {
        color: #0a191e;
    }
    
    .botao:active {
        background-color: #0a191e;
        filter: brightness(.7);
        transform: scale(.98);
    }
   /* -------------------------------------------------------- */
    
    nav {
        margin: 10px;
        margin-top: 25px;
    }

    }

    p.apresent {
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        position: relative;
        top: 60px;
        width: 300px;
        color: #1f1e1e;
        text-align: center;
        font-size: 20px; 
        
    }

    footer {
        background-color: #0a191e;
        color: white;
        text-align: center;
        padding: 10px;
        
    }

    .footerlink {
        color: white;
        font-weight: bolder;
    }
}    
    