@charset "UTF-8";

/* ====================CAPA TELA PEQUENA==================== */

@media screen and (min-width: 375px) and (max-width: 768px) {
    
    body {
        margin: 0px;
    }
    header {      
        min-width: 375px;
        background-color:#0a191e; 
        height: 210px;
    }

    .container {  /* principal */
        display: flex;  
        align-items: center;      
        justify-content: center; 
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: #aaa8a8;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 60px;
        color: antiquewhite;
        margin: 0px;
    }

    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: antiquewhite;
        padding: 5px;
        margin: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: antiquewhite;
        margin: 0px;
        padding: 5px;
    }

    main {
        max-width: 375px; 
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .caixadiv {
        background-color: #eeeeee;
        box-shadow: 1px 1px 5px black;
        border-radius: 5px;
        height: 270px;
        width: 300px;
    }

    .caixadiv > h1 {
        border-bottom: 2px solid #0a191e;
        text-shadow: 0px 1px 2px black;
        text-align: center;
        padding: 10px;
        margin-top: 1px;
    }
    .caixadiv > h3 {
        text-shadow: 0px 1px 2px black;
        text-align: center;
        margin: 0px;
    }
    a img {
        border-radius: 5px;
        box-shadow: 5px 5px 8px black;
        width: 100px;
        padding: 10px;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a > img:hover {
        background-color: #d8d5d5;
    }
} 

/* ====================CAPA TELA MEDIA==================== */

@media screen and (min-width: 768px) and (max-width: 992px){
    
    body {
        margin: 0px;
    }

    header {      
        min-width: 375px;
        background-color: #0a191e; 
        height: 210px;
    }
    
    .container {  /* principal */
        display: flex;  
        align-items: center;      
        justify-content: center; 
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: #aaa8a8;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 80px;
        color: antiquewhite;
        margin: 0px;
    }
    
    header > h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        color: antiquewhite;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: antiquewhite;
        margin: 0px;
        padding: 5px;
    }
    
    main {
        margin-top: 20px;
        max-width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .caixadiv {
        background-color: #eeeeee;
        box-shadow: 1px 1px 5px black;
        border-radius: 5px;
        height: 270px;
        width: 600px;
        margin-bottom: 20px;
    }

    .caixadiv > h1 {
        border-bottom: 2px solid #0a191e;
        border-radius: 5px;
        text-shadow: 0px 1px 2px black;
        text-align: center;
        padding: 10px;
    }
    .caixadiv > h3 {
        text-shadow: 0px 1px 2px black;
        text-align: center;
        padding: 5px;
    }
    a > img {
        border-radius: 5px;
        box-shadow: 1px 1px 5px black;
        width: 100px;
        padding: 10px;
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a > img:hover {
        background-color: #d3d0d0;
    }
}

/* ====================CAPA TELA GRANDE==================== */

@media screen and (min-width: 992px) {
    
    body {
        margin: 0px;
    }
    header {      
        min-width: 375px;
        background-color: #0a191e; 
        height: 210px;
    }

    .container {    /* principal */
        display: flex;  
        align-items: center;     
        justify-content: center; 
    }
    .container > img {
        box-shadow: 0px 3px 7px black;
        margin-top: 10px;
        width: 100px;
        background-color: #aaa8a8;
        border-radius: 100px;
    }
    .container > h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 0px 5px 5px black;
        font-size: 80px;
        color: antiquewhite;
        margin: 0px;
    }

    header > h2 {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 30px;
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    header > h4 {
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }

    main {
        max-width: 1000px;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .caixadiv {
        background-color: #eeeeee;
        box-shadow: 1px 1px 2px black;
        border-radius: 5px;
        width: 500px;
        height: 250px;
    }

    .caixadiv > h1 {
        border-bottom: 2px solid #0a191e;
        text-shadow: 0px 1px 2px black;
        text-align: center;
        padding: 10px;
    }
    .caixadiv > h3 {
        text-shadow: 0px 1px 2px black;
        text-align: center;

    }
    a > img {
        padding: 10px; 
        border-radius: 10px;
        box-shadow: 1px 1px 5px black;
        width: 80px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a > img:hover {
        background-color: #d3d0d0;
    }
}


